<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-BOOK</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <header id="main-header" class="mx-auto items-center justify-center text-center font-bold text-2xl text-black bg-gray-200 p-2"><b>E-BOOK</b></header>
</head>
<body>
  {% csrf_token %}
  <div class="navbar bg-white font-bold hidden md:block lg:block xl:block">
    <div class="navbar bg-gray-100 p-1 font-bold">
      <ul class="flex flex-row mx-auto">
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2 "><a href="#">Chapter 1</a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="#">Chapter 2</a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="#">Chapter 3</a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="#">Chapter 4</a></li>
      </ul>
      </div>
  </div>
    <!-- Toggler -->
        <div id="main" class="lg:hidden md:hidden xl:hidden">
          <button class="openbtn" onclick="openNav()"><img id="bars" src="/static/bars.svg" class="h-5 hover:cursor-pointer flex-start ml-1 my-auto mr-2 font-bold"></button>
        </div>


{% comment %} sidebar start {% endcomment %}
{% comment %} a vertical sidebar on the right side {% endcomment %}
<div class="flex flex-col fixed top-0 right-0 z-10 w-64 h-full bg-white border-r lg:hidden xl:hidden md:hidden overflow-y-auto shadow-lg" id="mySidebar" class="sidebar">

  {% comment %} insert a toggle btn to hide the side bar onclick {% endcomment %}
  <button class="closebtn" onclick="closeNav()"><img id="close" src="/static/close.svg" class="h-10 hover:cursor-pointer flex-start ml-1 my-auto mr-2 font-bold"></button>


  <div class="flex items-center justify-center h-14 border-b">
    <div class="flex items-center">
      <span class="text-sm font-bold mx-2 text-gray-600">E-BOOK</span>
    </div>
  </div>
  <div class="overflow-y-auto overflow-x-hidden flex-grow">
    <ul class="flex flex-col py-6 space-y-1">
      <li class="px-5">
        <div class="flex flex-row items-center h-8">
          <div class="text-sm font-light tracking-wide text-gray-500">Dashboard</div>
        </div>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-100">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
            </svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Chapter 1</span>
        </a>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-100">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
            </svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Chapter 2</span>
        </a>
      </li>
      <li>
        
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-100">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
            </svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Chapter 3</span>
        </a>
      </li>
      <li>
        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-100">
          <span class="inline-flex justify-center items-center ml-4">
            <svg class="w-5 h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
            </svg>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Chapter 4</span>
        </a>
      </li>
    </ul>
  </div>
</div>

{% comment %} sidebar end {% endcomment %}

{% comment %} main content {% endcomment %}
{% comment %} a body section with a overflow-y auto {% endcomment %}
<div class="mx-auto w-[80%] overflow-hidden items-center justify-center shadow-lg rounded-md border-t-0 border-2 h-auto border-b-0 mb-0" id="content">
  <div class="p-4 bg-white border-b border-gray-200">
    <div class="flex flex-col items-center justify-between">
      <h2 class="font-semibold text-lg text-gray-800 m-2 underline">{{ titles }}</h2>
      <div class="flex flex-col items-center">
        {% comment %} content {% endcomment %}
        <div class="m-2 p-4 text-justify text-xl font-serif items-center justify-center mx-auto overflow-auto  h-[900px] my-auto">
         
            {{ content }}
         
        </div>
      </div>
    </div>


</div>
</div>

{% comment %} javascript {% endcomment %}
<script>
  /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidebar").style.width = "270px";
  document.getElementById("main").style.marginLeft = "0";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}


</script>

</body>
<footer class="footer bg-gray-50 p-1 font-bold my-auto">
  <div class="flex flex-row mx-auto m-1">
      <ul class="flex flex-row mx-auto m-1">
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2 "><a href="https://facebook.com"><img src="/static/facebook.svg" class="h-8"></a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="https://instagram.com"><img src="/static/instagram.svg" class="h-8"></a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"p-2 gap-2><a href="https://twitter.com"><img src="/static/twitter.svg" class="h-8"></a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="https://github.com"><img src="/static/github.svg" class="h-8"></a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="https://linkedin.com"><img src="/static/linkedin.svg" class="h-8"></a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2"><a href="https://wordpress.com"><img src="/static/wordpress.svg" class="h-8"></a></li>
      </ul>
  </div>
  {% comment %} contact section {% endcomment %}
  <div class="flex flex-row mx-auto m-1">
      <ul class="flex flex-row mx-auto m-1">
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2 ">Phone: <a href="#">+254 700000000</a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2">Email: <a href="#">ebookread@gmail.com</a></li>
          <li class="font-semibold text-xl hover:text-blue-500 hover:cursor-pointer p-2">Address: <a href="#">4th Street Nairobi</a></li>
      </ul>
  </div>
</footer>
</html>