 {% block content %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-BOOK</title>
  {% comment %} <link href="https://cdn.tailwindcss.com" rel="stylesheet"> {% endcomment %}
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <style>
    body {
      background-color: #fff;
      color: #000;
    }

    body.dark-mode {
      background-color: #192734;
      color: #fff;
    }
  </style>
</head>
<body>
<header id="main-header" class="mx-auto items-center justify-center text-center font-bold text-2xl text-black bg-gray-200 p-2">
  <b>E-BOOK</b>
</header>

<!-- Rest of the code... -->
 
 <form action="" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  <h1>Document Contents:</h1>
    <div class="w-[70% border-2 items-center justify-center mx-auto]">
      <pre>{{ document_contents }}</pre>
    </div>

    {% comment %} upload file button {% endcomment %}
    <input type="file" name="file" id="file" class="hidden" />
    <a class="m-2 p-2 " href="{{ document.file.url }}">Download Document</a>
    <input type="submit" value="Upload">
</form>

<script>
  function toggleDarkMode() {
    const body = document.body;
    body.classList.toggle('dark-mode');
  }
</script>


<body>
  <footer class="footer bg-gray-50 p-1 font-bold my-auto">
    <div class="flex flex-row mx-auto m-1">
      <ul class="flex flex-row mx-auto m-1">
        <li class="font-semibold text-xl hover:text-black hover:cursor-pointer p-2">
          <a href="#">Home</a>
        </li>
        <li class="font-semibold text-xl hover:text-black hover:cursor-pointer p-2">
          <a href="#">About</a>
        </li>
        <li class="font-semibold text-xl hover:text-black hover:cursor-pointer p-2">
          <a href="#">Contact</a>
        </li>
      </ul>
      <div class="flex flex-row ml-auto">
        <button class="dark-mode-toggle" onclick="toggleDarkMode()">
          <i class="fa fa-adjust"></i>
        </button>
      </div>
    </div>
  </footer>
  {% endblock  %}
</html>
